@{
    ViewBag.Title = "Home Page";
}

<div class="panel-heading">
    <h1>The VideoStore</h1>
    <div class="row">
        <p class="lead">The official VideoStore with the unlimited offer.</p>
        <a href="~/VideoFilms/Index" class="btn btn-primary btn-lg">VideoFilms &raquo;</a>
        <a href="~/Customer/Index" class="btn btn-primary btn-lg">Customers &raquo;</a>
    </div>

    
</div>

<div class="row">
    <div class="col-md-2">
        <h2>Video Films</h2>
        <p>
            The Video Store offers a range of different films for all consumers.
        </p>
        <p><a class="btn btn-default" href="http://www.IMDB.com">More details on films &raquo;</a></p>
    </div>    
</div>